<app-navbar></app-navbar>

<div class="container d-block mt-3">
  <h5><span>Meus Grupos</span>
    <button class="btn bg-transparent border-0" (click)="openDialog()">
      <lucide-icon class="icon-color" name="circle-plus"></lucide-icon>
    </button>
  </h5>
  <div class="line mb-3"></div>
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let myGroup of allMyGroups">
        <td>
          <a routerLink="#" class="nav-link" (click)="openGroup(myGroup.id)">
            {{myGroup.name}}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
<br><br>

<app-footer></app-footer>
