<app-navbar></app-navbar>

<div class="container d-block mt-3">
  <h5><span class="me-2 font-white">Meus Grupos</span>
    <button class="btn btn-light me-2" (click)="openDialog()">
      <i class="fa fa-plus"></i>
    </button>
  </h5>
  <div class="line mb-3"></div>
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let myGroup of allMyGroups">
        <td>
          <a routerLink="#" class="nav-link" (click)="openGroup(myGroup.id)">
            {{myGroup.name}}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
<br><br>

<app-footer></app-footer>
