
<app-navbar></app-navbar>

<div class="container d-block mt-5">

  <h5><span>Minhas Playlists</span><button class="btn btn-light ms-2" (click)="openDialog()"><i class="fa fa-plus"></i></button>
  </h5>
    <div class="line mb-3"></div>
    <div style="overflow: auto; overflow-x: hidden; max-height: 360px;">
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let playlist of playlists">
          <a routerLink="/playlist" class="nav-link">
          <div class="card card-body" style="background: #482424; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
            <h5>{{playlist.playlistName}}</h5>
            <p>Visibilidade: {{playlist.status}}</p>
          </div>
          </a>
        </div>
      </div>
    </div>
</div>
<br><br>

<app-footer></app-footer>
