<app-navbar></app-navbar>
<div class="container d-block mt-5">
  <h5 class="d-flex justify-content-end">
    <button (click)="openAddContentModal(this.playlistId)" class="btn btn-light me-2"><i class="fa fa-plus"></i></button>
    <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
  </h5>
  <div class="line mb-3"></div>
  <div class="row row-cols-md-3 g-2">
    <div class="col" *ngFor="let playlist of playlists">
      <div class="d-flex justify-content-center">
        <div class="card mx-auto card-body" style="width: 60vh; background: #482424; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
          <div class="object-fit-cover d-flex justify-content-center mb-2" (click)="play(playlist.content.id)">
            <img class="music-image" *ngIf="isMusic(playlist.content.mimetype)" [src]="imageUrls[playlist.content.id]" alt="{{ playlist.content.title }} cover">
            <video *ngIf="isVideo(playlist.content.mimetype)" width="400" controls></video>
          </div>
          <hr>
          <a class="content-title nav-link" (click)="play(playlist.content.id)" style="font-size: 18px; cursor: pointer">{{playlist.content.author.name}} - {{playlist.content.title}}</a>
          <div class="d-flex justify-content-end" [matMenuTriggerFor]="infoMenu">
            <button class="btn btn-light border-0"><i class="fa fa-ellipsis-h"></i></button>
          </div>
          <mat-menu #infoMenu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
            <a routerLink="" (click)="contentInfo(playlist.content.id)" mat-menu-item>Info</a>
            <a routerLink="" (click)="openDialog(playlist.content.id)" mat-menu-item>Remover da Playlist</a>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>
