<div class="container mt-2">
  <div class="d-flex justify-content-center">
    <div class="custom-shadow">
      <h2 class="d-flex justify-content-center" style="color: #0E1116;font-weight: bold">Criar Conta</h2>
      <div class="d-flex justify-content-center">
        <i class="fa fa-user-circle mt-2" style="font-size: 54px; color: #1D1C1C"></i>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <input type="text" class="form-control mb-3 border-black" placeholder="Nome" formControlName="name">
          <input type="text" class="form-control mb-3 border-black" placeholder="Sobrenome" formControlName="surname">
          <input type="email" class="form-control mb-3 border-black" placeholder="Email" formControlName="email">
          <input type="password" class="form-control mb-3 border-black" placeholder="Palavra-Passe" formControlName="password">
          <input type="password" class="form-control mb-3 border-black" placeholder="Confirmar Palavra-Passe" formControlName="confirmPassword">
          <input type="hidden" value="CLIENT" formControlName="userRole">
          <span class="d-flex justify-content-center">
             <input type="submit" class="login-btn btn btn-success" value="Criar Conta"  style="width: 100%; background-color: #0E1116">
          </span>
          <a routerLink="/" class="register-btn btn mt-3 mb-0 d-flex justify-content-center" >
            Já tenho uma conta
          </a>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
