
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <u class="custom-nav-items">
      <li class="nav-item">
        <button class="btn btn-light" (click)="toggleSidebar()">
          <i class="fa fa-bars"></i>
        </button>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" style="color: white; text-decoration: none;" href="/">ISPMedia</a>
      </li>
    </u>
    <ul class="navbar-nav d-flex flex-row flex-nowrap">
      <li class="nav-item" *ngIf="isLogged()">
        <button class="btn btn-light me-2" [matMenuTriggerFor]="contentMenu">
          <i class="fa fa-plus-square"></i>
        </button>
        <mat-menu #contentMenu="matMenu">
          <a routerLink="/upload-music" mat-menu-item>Carregar Música</a>
          <a routerLink="/upload-video" mat-menu-item>Carregar Vídeo</a>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="isLogged()">
        <a class="btn btn-light me-2"><i class="fa fa-bell"></i></a>
      </li>
      <li class="nav-item" *ngIf="isLogged()">
        <button class="btn btn-light me-2" [matMenuTriggerFor]="userMenu">
          <i class="fa fa-user-circle"></i>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>Meu Perfil</button>
          <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="!isLogged()">
        <a routerLink="/login" class="btn btn-light">Iniciar Sessão</a>
      </li>
    </ul>
  </div>
</nav>

<div class="sidebar" [ngClass]="{'open': isSidebarOpened}">
  <ul class="menu-sidebar">
    <u class="custom-nav-items mt-2">
      <li class="nav-item">
        <button class="btn btn-light" (click)="toggleSidebar()">
          <i class="fa fa-bars"></i>
        </button>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" style="color: white; text-decoration: none;" href="/">ISPMedia</a>
      </li>
    </u>
    <li class="sidebar-item mt-4" style="padding-top: 30px;">
      <a routerLink="/groups">
        <span class="btn btn-light"><i class="fa fa-users" style="font-size: 12px;"></i> </span>
        Grupos
      </a>
    </li>
    <hr>
    <li class="sidebar-item">
      <a routerLink="/friends">
        <span class="btn btn-light"><i class="fa fa-user-plus" style="font-size: 12px;"></i> </span>
        Amigos
      </a>
    </li>
    <hr>
    <li class="sidebar-item">
      <a routerLink="/playlists" >
        <span class="btn btn-light"><i class="fa fa-indent" style="font-size: 18px;"></i> </span>
        Playlist
      </a>
    </li>
    <hr>
    <li class="sidebar-item">
      <a routerLink="/radios">
        <span class="btn btn-light"><i class="fa fa-radio" style="font-size: 16px;"></i> </span>
        Rádios
      </a>
    </li>
  </ul>
</div>

<div class="overlay" [class.open]="isSidebarOpened" (click)="toggleSidebar()"></div>
