.navbar{
  background-color: #003000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-wrap: nowrap !important;
}

.custom-nav-items{
  display: flex;
  list-style: none;
}
.menu{
  display: flex;
  list-style: none;
  margin-right: 50px;
  margin-top: 40px;
}

.menu li{
  padding-left: 20px;
}

.menu-link{
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.menu-link:hover{
  color: wheat;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #0E1116;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 2;
}

.sidebar.open {
  transform: translateX(0);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  transition: opacity 0.3s ease;
}

.overlay.open {
  display: block;
  opacity: 1;
}



.custom-nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.custom-nav-items .nav-item {
  margin-right: 15px;
}

.menu-sidebar{
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.menu-sidebar a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.menu-sidebar a:hover{
  color: wheat;
}

.sidebar-item{
  padding-top: 25px;
}
