<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>Lista de Membros</th>
        </tr>
      </thead>
      <tbody *ngIf="members">
        <tr *ngFor="let member of members.members">
          <td>
            <span style="position: relative; top: 15px;">{{member.user.name}} {{member.user.surname}} <br> <small class="text-muted">(owner: {{member.owner}}, editor: {{member.editor}})</small></span>
            <div class="d-flex justify-content-end" style="position: relative; top: -25px;">
              <div>
                <button class="btn btn-dark" [matMenuTriggerFor]="userMenu"><i class="fa fa-ellipsis-h"></i></button>
                <mat-menu #userMenu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
                  <a (click)="setOwner(member.user.id, members.id)" mat-menu-item>Promover para Owner</a>
                  <a (click)="setEditor(member.user.id, members.id)" mat-menu-item>Promover para Editor</a>
                  <a mat-menu-item>Remover do Grupo</a>
                </mat-menu>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
