<app-navbar></app-navbar>
<div class="container">

  <div class="d-flex justify-content-center mt-2">
    <div class="search">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <select class="mt-4">
    <option>Filtro</option>
    <option>Categoria</option>
    <option>Músicas</option>
    <option>Vídeos</option>
  </select>
  <hr>
  <div class="row row-cols-md-3 g-2">
    <div class="col" *ngFor="let content of contents">
      <div class="d-flex justify-content-center">
        <button (click)="play(content.id)" class="btn bg-transparent border-0 content-title">
          <div class="card mx-auto card-body" style="width: 60vh; background: #482424; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
            <div class="object-fit-cover d-flex justify-content-center mb-2">
              <img class="music-image" *ngIf="isMusic(content.path)" [src]="imageUrls[content.id]" alt="{{ content.title }} cover">
              <video *ngIf="isVideo(content.path)" width="400" controls></video>
            </div>
            <hr>
            <h5>{{content.author.artistName}} - {{content.title}}</h5>
          </div>
        </button>
      </div>
    </div>
  </div>
  <br><br>
</div>

<app-footer></app-footer>
