<app-navbar></app-navbar>
<div class="container">

  <div class="d-flex justify-content-center" style="padding-top: 45px;">
    <div class="search">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
        <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <select class="">
      <option>Filtro</option>
      <option>Categoria</option>
      <option>Músicas</option>
      <option>Vídeos</option>
    </select>
  </div>
  <hr>
  <div class="row row-cols-md-3 g-2">
    <div class="col" *ngFor="let content of contents">
      <div class="d-flex justify-content-center">
          <div class="card mx-auto card-body" style="width: 60vh; background: #482424; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
            <div class="object-fit-cover d-flex justify-content-center mb-2" (click)="play(content.id)">
              <img class="music-image" *ngIf="isMusic(content.path)" [src]="imageUrls[content.id]" alt="{{ content.title }} cover">
              <video *ngIf="isVideo(content.path)" width="400" controls></video>
            </div>
            <hr>
            <a class="content-title nav-link" (click)="play(content.id)" style="font-size: 18px; cursor: pointer">{{content.author.artistName}} - {{content.title}}</a>
            <div class="d-flex justify-content-end" [matMenuTriggerFor]="infoMenu">
              <button class="btn btn-light border-0"><i class="fa fa-ellipsis-h"></i></button>
            </div>
            <mat-menu #infoMenu="matMenu" [overlapTrigger]="false" yPosition="below" xPosition="before">
              <a routerLink="" (click)="contentInfo(content.id)" mat-menu-item>Info</a>
              <a routerLink="" (click)="openDialog(content.id)" mat-menu-item>Guardar na Playlist</a>
            </mat-menu>
          </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<app-footer></app-footer>
