
<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <div class="custom-shadow">
      <br>
      <h5 class="d-flex justify-content-center" style="color: #482424;font-weight: bold">JÁ TEM UMA CONTA?</h5>
      <p class="d-flex justify-content-center" style="color: #482424" >Iniciar Sessão</p>
      <div class="d-flex justify-content-center">
        <i class="fa fa-user-circle m-2" style="font-size: 54px; color: #1D1C1C"></i>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <input type="email" class="form-control mb-3 border-black" placeholder="Email" formControlName="email">
          <input type="password" class="form-control mb-3 border-black" placeholder="Palavra-Passe" formControlName="password">
          <span class="d-flex justify-content-center">
            <input type="submit" class="login-btn btn btn-success" value="Iniciar Sessão"  style="width: 100%; background-color: #482424">
          </span>
          <a routerLink="/register" class="register-btn btn mt-3 d-flex justify-content-center" >
            Criar Conta
          </a>
        </form>
      </div>
      <div class="d-flex justify-content-center  mt-3">
        <a routerLink="/" class="nav-link Link-convidado" style="color:#924444">ENTRAR COMO CONVIDADO</a>
      </div>
      <br>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>

