.custom-shadow{
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 10px 20px;
  padding:20px 50px;
  border-radius: 10px;
}
.register-btn,.login-btn {
  transition: all 0.5s ease-in-out;
}
.register-btn:hover{
  border:1px solid #482424;
  color: #000;
  box-shadow: 0 0 10px rgba(.0,.0,.0,.216);
}
.login-btn{
  border: none;
  box-shadow: 0 0 10px rgba(.0,.0,.0,.216);
}
.login-btn:hover{
  transform: scale(1.03);
}
.Link-convidado:hover{
  text-decoration: underline;
}
