
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="custom-shadow">
      <br>
      <h2 class="d-flex justify-content-center" style="color: green">JÁ TEM UMA CONTA?</h2>
      <p class="d-flex justify-content-center">Iniciar Sessão</p>
      <div class="d-flex justify-content-center">
        <i class="fa fa-user-circle mt-4" style="font-size: 54px;"></i>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <input type="email" class="form-control mb-3" placeholder="Email" formControlName="email">
          <input type="password" class="form-control mb-3" placeholder="Palavra-Passe" formControlName="password">
          <span class="d-flex justify-content-center">
            <input type="submit" class="btn btn-success" value="Login">
          </span>
          <a routerLink="/register" class="nav-link mt-3 d-flex justify-content-center">
            <u>Criar Conta</u>
          </a>
        </form>
      </div>
      <div class="d-flex justify-content-center  mt-3">
        <a routerLink="/" class="nav-link" style="color: orange;">ENTRAR COMO CONVIDADO</a>
      </div>
      <br>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>

