
<app-navbar></app-navbar>

<div class="container d-block mt-5">

  <h5><span class="me-2 font-white">Meus Amigos </span><button class="btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#addFriend"><i class="fa fa-plus"></i></button></h5>
  <div class="friend-line mb-3"></div>
  <div style="overflow: auto; overflow-x: hidden; max-height: 360px;">
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Helpidio Mateus</td>
          </tr>
          <tr>
            <td>Helpidio Mateus</td>
          </tr>
          <tr>
            <td>Helpidio Mateus</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>

<app-footer></app-footer>
