@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Regular.ttf') format('ttf'),
  url('assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #C9C9C9;
  color: black;
}

.icon-color{
  color: #555555;
}

.icon-color:hover{
  color: black;
}

.card-color{
  background-color: #dee2e6;
  width: 18rem;
  color: #555555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-color:hover{
  color: black;
}

.title-separator{
  border: 1px solid white;
}

.white-line{
  border: 1px solid black;
}

.step-label-color{
  color: white;
}

html, body { height: 100%; }

.line{
  border: 1px solid white;
}

