@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-Regular.ttf') format('ttf'),
  url('../src/assets/fonts/Poppins-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(21, 18, 18);
  color: white;
}

.title-separator{
  border: 1px solid white;
}

.white-line{
  border: 1px solid white;
}

.step-label-color{
  color: white;
}

html, body { height: 100%; }

.line{
  border: 1px solid white;
}

